import { OktaAuthOptions } from '@okta/okta-auth-js';

const ISSUER=https://{yourOktaDomain}/oauth2/default
const CLIENT_ID={clientId}
const REDIRECT_URI = `http://localhost:4200/login/callback`;
// localhost:4200/login

// eslint-disable-next-line import/no-anonymous-default-export
const config: OktaAuthOptions = {
  clientId: CLIENT_ID,
  issuer: ISSUER,
  redirectUri: REDIRECT_URI,
  scopes: ['openid', 'offline_access', 'profile', 'email'],
};
export default config;
