import { useOktaAuth } from "@okta/okta-react";

export function OktaLoginButton() {
  const { oktaAuth, authState } = useOktaAuth();
  const signin = async () => await oktaAuth.signInWithRedirect();
  const signout = async () => await oktaAuth.signOut();

  return (
    <div>
      {!authState?.isAuthenticated && (
        <button onClick={signin}>Sign In</button>
      )}

      {authState?.isAuthenticated && (
        <button onClick={signout}>Sign Out</button>
      )}
    </div>
  )
}
