import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { SeoExampleComponent } from './components/seo-example/seo-example.component';

@NgModule({
  declarations: [
    SeoExampleComponent
  ],
  imports: [
    CommonModule
  ],
  exports: [
    SeoExampleComponent
  ]
})
export class SharedModule { }